<div
    class="flex flex-wrap justify-between items-center mx-auto min-[1600px]:max-w-[1600px] min-[1400px]:max-w-[1320px] min-[1200px]:max-w-[1140px] min-[992px]:max-w-[960px] min-[768px]:max-w-[720px] min-[576px]:max-w-[540px]">
    <div class="section-title-2 w-full mb-[20px] pb-[20px] flex flex-col justify-center items-center">
        <img src="../../../../assets/img/logo/logo.png" alt="" class="h-[50px] w-[150px] p-[10px] mb-[30px]">
        <h2
            class="gi-title mb-[0] font-manrope text-[26px] font-semibold text-[#4b5966] relative inline p-[0] capitalize leading-[1]">
            Welcome to bizLink
            <span></span>
        </h2>
        <p class="max-w-[400px] mt-[15px] text-[14px] text-[#777] text-center leading-[23px]">
            You are registered successfully. Please check your email to activate your account.
        </p>
    </div>
</div>