<!-- Breadcrumb start -->
<app-bread-crumb breadCrumbName="Shop Page"></app-bread-crumb>
<!-- Breadcrumb end -->

<!-- Category section -->
<section class="gi-category py-[40px] max-[767px]:py-[30px]">
    <div
        class="flex flex-wrap justify-between items-center mx-auto min-[1600px]:max-w-[1600px] min-[1400px]:max-w-[1320px] min-[1200px]:max-w-[1140px] min-[992px]:max-w-[960px] min-[768px]:max-w-[720px] min-[576px]:max-w-[540px]">
        <div class="flex flex-wrap w-full">
            <div
                class="gi-shop-rightside min-[992px]:order-[6] min-[768px]:order-[-1] min-[992px]:w-[75%] min-[768px]:w-full w-full px-[12px]">
                <!-- Shop Top Start -->
                <div
                    class="gi-pro-list-top flex items-center justify-between text-[14px] border-[1px] border-solid border-[#eee] rounded-[5px] mb-[30px]">
                    <div class="min-[768px]:w-[50%] w-full gi-grid-list">
                        <div class="gi-gl-btn ml-[5px] flex items-center flex-row">
                            <button type="button"
                                class="grid-btn btn-grid-50 h-[40px] w-[40px] border-[0] rounded-[0] flex items-center justify-center flex-row active">
                                <i class="bi bi-grid text-[20px] text-[#4b5966] leading-[0]"></i>
                            </button>
                            <button type="button"
                                class="grid-btn btn-list-50 h-[40px] w-[40px] border-[0] rounded-[0] flex items-center justify-center flex-row">
                                <i class="bi bi-list-ul text-[20px] text-[#4b5966] leading-[0]"></i>
                            </button>
                        </div>
                    </div>
                    <div class="min-[768px]:w-[50%] w-full gi-sort-select flex justify-end items-center">
                        <div
                            class="gi-select-inner relative flex w-[140px] h-[50px] leading-[1.5] bg-[#fff] overflow-hidden rounded-[0] border-l-[1px] border-solid border-[#eee]">
                            <select name="gi-select" id="gi-select"
                                class="appearance-none outline-[0] border-[0] bg-[#fff] grow-[1] px-[10px] text-[#777] cursor-pointer">
                                <option selected="" disabled="">Sort by</option>
                                <option value="5">low to high</option>
                                <option value="6">high to low</option>
                            </select>
                        </div>
                    </div>
                </div>
                <!-- Shop Top End -->
                <!-- Shop content Start -->
                <div class="shop-pro-content">
                    <div class="shop-pro-inner mx-[-12px]">
                        @if(productList?.items && productList?.items?.length > 0) {
                        <div class="flex flex-wrap w-full">
                            @for (product of productList?.items; track product.id || product._id) {
                            <div
                                class="min-[992px]:w-[33.33%] min-[768px]:w-[50%] min-[576px]:w-[50%] max-[420px]:w-full px-[12px] gi-product-box max-[575px]:w-[50%] max-[575px]:mx-auto pro-gl-content">
                                <div class="gi-product-content pb-[24px] h-full flex"
                                    (click)="goTo(`/shop/product-details/${product?.id || product?._id}`)">
                                    <div
                                        class="gi-product-inner transition-all duration-[0.3s] ease-in-out cursor-pointer flex flex-col overflow-hidden border-[1px] border-solid border-[#eee] rounded-[5px]">
                                        <div
                                            class="gi-pro-image-outer transition-all duration-[0.3s] ease delay-[0s] z-[11] relative">
                                            <div class="gi-pro-image overflow-hidden">
                                                <a
                                                    class="image relative block overflow-hidden pointer-events-none transition-all duration-[0.3s] ease-in-out">
                                                    <span class="label veg max-[991px]:hidden">
                                                        <span class="dot"></span>
                                                    </span>
                                                    <img [attr.src]="(product.image[0] | secureImage: 'assets/img/product-images/2_1.jpg') | async"
                                                        alt=""
                                                        class="main-image max-w-full z-[1] transition-all duration-[0.3s] ease delay-[0s]"
                                                        style="height: 300px;width: 265px;object-fit: cover;" />

                                                    <img [attr.src]="(product.image[1] | secureImage: 'assets/img/product-images/2_2.jpg') | async"
                                                        alt=""
                                                        class="hover-image absolute z-[2] top-[0] left-[0] opacity-[0] max-w-full transition-all duration-[0.3s] ease delay-[0s]"
                                                        style="height: 300px;width: 265px;object-fit: cover;" />
                                                </a>
                                                <span
                                                    class="flags flex flex-col p-[0] uppercase absolute top-[10px] right-[10px] z-[2]">
                                                    <span
                                                        class="sale py-[5px] px-[10px] text-[11px] font-medium leading-[12px] text-left uppercase flex items-center bg-[#ff7070] text-[#fff] tracking-[0.5px] relative rounded-[5px]">Sale</span>
                                                </span>
                                                <div
                                                    class="gi-pro-actions transition-all duration-[0.3s] ease-in-out absolute z-[9] left-[0] right-[0] bottom-[-10px] max-[991px]:opacity-[1] max-[991px]:bottom-[10px] flex flex-row items-center justify-center my-[0] mx-auto opacity-[0]">
                                                    <a class="gi-btn-group wishlist transition-all duration-[0.3s] ease-in-out w-[30px] h-[30px] mx-[2px] flex items-center justify-center text-[#fff] bg-[#fff] border-[1px] border-solid border-[#eee] rounded-[5px] hover:bg-[#10b2e3]"
                                                        (click)="_globalService.addToWishlist(product.id)"
                                                        [ngClass]="{'isSelected': product.isWishlisted}"
                                                        title="Wishlist">
                                                        <i
                                                            class="bi bi-heart transition-all duration-[0.3s] ease-in-out text-[#777] leading-[10px]"></i>
                                                    </a>
                                                    <a class="gi-btn-group modal-toggle quickview transition-all duration-[0.3s] ease-in-out w-[30px] h-[30px] mx-[2px] flex items-center justify-center text-[#fff] bg-[#fff] border-[1px] border-solid border-[#eee] rounded-[5px] hover:bg-[#10b2e3]"
                                                        (click)="_globalService.openQuickView(product)">
                                                        <i
                                                            class="bi bi-eye transition-all duration-[0.3s] ease-in-out text-[#777] leading-[10px]"></i>
                                                    </a>
                                                    <!-- <a title="Add To Cart"
                                                        class="gi-btn-group add-to-cart transition-all duration-[0.3s] ease-in-out w-[30px] h-[30px] mx-[2px] flex items-center justify-center text-[#fff] bg-[#fff] border-[1px] border-solid border-[#eee] rounded-[5px] hover:bg-[#10b2e3]"
                                                        (click)="_globalService.addToCart(product)"
                                                        [ngClass]="{'isSelected': product.isAddToCart}">
                                                        <i
                                                            class="bi bi-basket2 transition-all duration-[0.3s] ease-in-out text-[#777] leading-[10px]"></i>
                                                    </a> -->
                                                </div>
                                            </div>
                                        </div>
                                        <div
                                            class="gi-pro-content h-full p-[20px] relative z-[10] flex flex-col text-left border-t-[1px] border-solid border-[#eee]">
                                            <a>
                                                <h6
                                                    class="gi-pro-stitle mb-[10px] font-normal text-[#999] text-[13px] capitalize font-manrope tracking-[0.01rem] leading-[1.2]">
                                                    {{product?.subCategory?.name}}
                                                </h6>
                                            </a>
                                            <h5
                                                class="gi-pro-title h-full mb-[10px] text-[16px] tracking-[0.01rem] font-normal leading-[1.2]">
                                                <a
                                                    class="text-[#4b5966] block text-[14px] leading-[22px] font-normal tracking-[0.85px] capitalize font-Poppins">
                                                    {{product?.name}}
                                                </a>
                                            </h5>
                                            <div class="gi-pro-rat-price mt-[5px] mb-[0] flex flex-col">
                                                <span class="gi-pro-rating mb-[10px] opacity-[0.7] relative">
                                                    <bar-rating class="star" effect [max]="5"
                                                        [rate]="product?.ratings || 4" [readonly]="true">
                                                    </bar-rating>
                                                </span>

                                                <span
                                                    class="gi-price text-[18px] flex items-center justify-left text-[#4b5966] tracking-[0.4px]">
                                                    <span
                                                        class="new-price text-[#4b5966] font-bold text-[14px] mr-[7px] tracking-[0.02rem]">₹
                                                        {{product?.priceRange}}
                                                    </span>

                                                </span>
                                                <span class="text-[#999] text-[13px] capitalize">
                                                    min. order: {{product?.minOrder}} piece
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            } @empty {
                            <ngx-skeleton-loader count="6" appearance="circle"
                                [theme]="{width: '250px',height: '400px','border-radius': '10px'}">
                            </ngx-skeleton-loader>
                            }
                        </div>
                        } @else {
                        <div class="w-full flex items-center justify-center">
                            <img src="assets/img/product-not-found.jpg" alt="" class="w-[200px] h-[200px]">
                        </div>
                        }
                    </div>

                    <mat-paginator #paginator class="bg-transparent" [pageSize]="this.pagination.pageSize"
                        [pageIndex]="this.pagination.pageIndex" [pageSizeOptions]="[]" (page)="pageChanged($event)">
                    </mat-paginator>

                </div>

            </div>
            <!-- Sidebar Area Start -->
            <div
                class="gi-shop-sidebar sticky top-[24px] min-[992px]:order-[-1] min-[768px]:order-[6] min-[992px]:w-[25%] min-[768px]:w-full w-full max-[991px]:mt-[30px] px-[12px]">
                <div id="shop_sidebar">
                    <div class="gi-sidebar-wrap p-[15px] rounded-[5px] border-[1px] border-solid border-[#eee]">
                        <!-- Sidebar Category Block -->
                        <div class="gi-sidebar-block mb-[15px]">
                            <div class="gi-sb-title border-b-[1px] border-solid border-[#eee] pb-[15px]">
                                <h3
                                    class="gi-sidebar-title font-semibold tracking-[0] relative text-[#4b5966] w-full flex justify-between font-Poppins text-[17px] leading-[1.2]">
                                    Category
                                </h3>
                            </div>
                            <div class="gi-sb-block-content mt-[15px]">
                                @for(category of categoryList; track category.id) {
                                <ul>
                                    <li class="nav-item">
                                        <a class="nav-link active cursor-pointer" (click)="getList('' , null)">All
                                            Products</a>
                                    </li>

                                    @for(item of category?.subCategory; track item.id) {
                                    <li>
                                        <div class="gi-sidebar-block-item py-[7px] relative flex flex-row">
                                            <input type="radio" name="subCategory"
                                                (click)="getList('subCategory' ,item.id)"
                                                class="w-full h-[calc(100% - 5px)] absolute opacity-[0] cursor-pointer z-[9] top-[50%] translate-y-[-50%]">
                                            <a
                                                class="w-full text-[#777]! text-[14px] mt-[0] leading-[20px] font-normal capitalize cursor-pointer flex justify-between pl-[30px]">
                                                <span class="flex">
                                                    {{item?.name}}
                                                </span>
                                            </a>
                                            <span
                                                class="checked absolute top-[50%] left-[0] h-[18px] w-[18px] bg-[#fff] border-[1px] border-solid border-[#eee] transition-all duration-[300ms] linear translate-y-[-50%] rounded-[5px] overflow-hidden"></span>
                                        </div>
                                    </li>
                                    } @empty {
                                    <ngx-skeleton-loader count="8" [theme]="{width: '230px',height: '20px'}">
                                    </ngx-skeleton-loader>
                                    }

                                </ul>
                                } @empty {
                                <ngx-skeleton-loader count="8" [theme]="{width: '230px',height: '20px'}">
                                </ngx-skeleton-loader>
                                }
                            </div>
                        </div>

                        <div class="gi-sidebar-block mb-[15px]">
                            <div class="gi-sb-title border-b-[1px] border-solid border-[#eee] pb-[15px]">
                                <h3
                                    class="gi-sidebar-title font-semibold tracking-[0] relative text-[#4b5966] w-full flex justify-between font-Poppins text-[17px] leading-[1.2]">
                                    Price</h3>
                            </div>
                            <div class="gi-sb-block-content gi-price-range-slider es-price-slider mt-[20px]">
                                <div class="gi-price-filter flex justify-between flex-col">
                                    <div
                                        class="gi-price-input mb-[15px] p-[10px] flex justify-center items-center rounded-[5px] bg-[#f8f8fb]">
                                        <label
                                            class="filter__label text-[14px] text-[#777] flex flex-col justify-center items-center inline-flex!">
                                            From
                                            <input type="number"
                                                class="filter__input rounded-[5px] h-[30px]! border-[0] p-[0] max-w-[48px] leading-[30px] bg-[#fff] text-center text-[14px] text-[#777] outline-[0]"
                                                [(ngModel)]="minPrice" (change)="onPriceInputChange(minPrice, 'min')"
                                                [min]="minPrice" [max]="maxPrice" step="100">
                                        </label>
                                        <span
                                            class="gi-price-divider relative border-b-[1px] border-solid border-[#777] w-[10px] h-[1px] mx-[10px]"></span>
                                        <label
                                            class="filter__label text-[14px] text-[#777] flex flex-col justify-center items-center inline-flex!">
                                            To
                                            <input type="number"
                                                class="filter__input rounded-[5px] h-[30px]! border-[0] p-[0] max-w-[48px] leading-[30px] bg-[#fff] text-center text-[14px] text-[#777] outline-[0]"
                                                [(ngModel)]="maxPrice" (change)="onPriceInputChange(maxPrice , 'max')"
                                                [min]="minPrice" [max]="maxPrice" step="100">
                                        </label>
                                    </div>
                                    <div class="custom-slider">
                                        <ngx-slider [(value)]="minPrice" [(highValue)]="maxPrice" [options]="options"
                                            (userChangeEnd)="onPriceInputChange($event.value, 'min'); onPriceInputChange($event.highValue ?? 0, 'max')">
                                        </ngx-slider>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Category section End -->